@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --title-color: hsl(191, 80%, 8%);
  --image-background: hsl(23, 100%, 94%);
  --logo-color: hsl(227, 83%, 59%);
  --input-cont-color: hsl(0, 0%, 84%);
  --deam-text: #797a79;
  --checkbox-color: hsl(210, 98%, 51%);
  --outline-input-hover: hsl(210, 98%, 51%);
  --button-color: hsl(237, 95%, 61%);
  --anchor-color: hsl(237, 95%, 61%);
  --normal-text-color: #474747;
  --button-hover-color: #1e1e1e;
  --input-background: hsl(0, 0%, 98%);
  --logo-font: "Poppins", sans-serif;
}

.login {
  display: none;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.login.show {
  display: flex;
}

.register.hide {
  display: none;
}
.register.show {
  display: flex;
}

.left {
  width: 50%;
  min-height: 100vh;
  height: auto;
  padding: 2rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--button-color);
  font-weight: 650;
}

.title,
.register,
.top-form,
.actual-form,
.bottom-form {
  display: flex;
  flex-direction: column;
}

.register {
  row-gap: 1.5rem;
}

.top-form {
  row-gap: 2.5rem;
}

.title {
  row-gap: 0.5rem;
}

.login-title {
  align-items: center;
}

.main-title {
  color: var(--title-color);
}

.title p {
  color: var(--deam-text);
  font-size: 0.9rem;
}

.actual-form {
  row-gap: 1.8rem;
}

.names {
  display: flex;
  column-gap: 1.5rem;
}

.name {
  flex: 1 1 0;
  min-width: 0;
}

.name,
.email {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.name label,
.email label {
  font-size: 0.75rem;
  color: var(--normal-text-color);
  font-weight: 500;
}

.name input,
.email input {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid var(--input-cont-color);
  background-color: var(--input-background);
  padding: 1rem 0 1rem 1rem;
}

.name input:hover,
.email input:hover {
  border: 1px solid var(--outline-input-hover);
}

.name input:focus,
.email input:focus {
  border-radius: 0.2rem;
}

.name input::placeholder,
.email input::placeholder {
  font-size: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  min-height: 100vh;
  background-color: var(--image-background);
}

.image img {
  transform: scale(0.65);
  transform-origin: center;
  max-width: 100%;
}

.bottom-form {
  row-gap: 2rem;
}

.agreed {
  display: flex;
  column-gap: 0.5rem;
}

.agreed input {
  align-self: center;
  width: 1.3rem;
  height: 1.3rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.3rem;
  border: 1px solid var(--input-cont-color);
  background-color: var(--input-background);
}

.agreed input:checked {
  appearance: auto;
  accent-color: var(--checkbox-color);
  border-radius: 0.5rem;
}

.agreed label {
  color: var(--normal-text-color);
  font-size: 1rem;
}

.agreed label a {
  text-decoration: none;
  color: var(--button-color);
  font-weight: 500;
}

.button-cont {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.button-cont button {
  outline: none;
  border: none;
  background-color: var(--button-color);
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.button-cont button:hover {
  background-color: #1e1e1e;
}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member p {
  color: var(--deam-text);
}

.member p a {
  text-decoration: none;
  color: var(--button-color);
  font-weight: 500;
}

.top-login-form,
.bottom-login-form,
.socials {
  display: flex;
  flex-direction: column;
}

.top-login-form {
  row-gap: 1rem;
}

.socials {
  row-gap: 2rem;
}

.social-buttons {
  display: flex;
  column-gap: 1rem;
  width: 100%;
}

.social-buttons a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  color: #fff;
  column-gap: 0.2rem;
  font-size: 0.9rem;
}

.social-buttons a:hover {
  background-color: var(--button-color);
}

.or {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  color: var(--deam-text);
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--input-cont-color);
}

.or::after {
  margin-left: 0.5rem;
}

.or::before {
  margin-right: 0.5rem;
}

.login {
  flex-direction: column;
  height: auto;
  row-gap: 2rem;
}

.bottom-login-form {
  row-gap: 0.5rem;
}

.bottom-form a {
  text-decoration: none;
  text-align: right;
  color: var(--logo-color);
  font-weight: 500;
}

.dont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dont p {
  color: var(--deam-text);
}

@media (max-width: 1119px) {
  .social-buttons {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .social-buttons a {
    width: 100%;
  }
  .left {
    padding: 2rem 5rem;
  }
}

@media (max-width: 992px) {
  .social-buttons {
    flex-direction: row;
  }
  .social-buttons a {
    width: 50%;
  }
  .image {
    display: none;
  }

  .left {
    width: 100%;
    padding: 2rem 7rem;
  }
}
@media (max-width: 768px) {
  .left {
    padding: 2rem 4rem;
  }
}

@media (max-width: 600px) {
  .left {
    padding: 2rem 2rem;
  }
  .names,
  .social-buttons {
    flex-direction: column;
    row-gap: 2rem;
  }
  .name,
  .social-buttons a {
    width: 100%;
  }
  .title {
    align-items: center;
  }
}
